<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  html, body{
      background-color: #212121;
      color: #fafafa;
  }
   a.active {
       text-decoration: none;
       color: #fafafa;
   }
  </style>
  <body>
    <h1><%= title %></h1>
    <p>Generated menu</p>

    <ul>
    <% adminMenu.nodes.map((menu)=>{%>
        <li><a href="<%= menu.uri %>"><%= menu.name %></li>
        <ul>
            <% menu.nodes.map((item)=>{%>
                <li><a href="<%= item.uri %>" class="<%= item.isActive ? 'active' : ''%>"><%= item.name %></a></li>
            <%});%>
        </ul>
    <%});%>
    </ul>
    <br/>
    <h3>Generated JSON</h3>

    <code>
        <pre><%- JSON.stringify(adminMenu, null, 4) %></pre>
    </code>
  </body>
</html>
