<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  html, body{
      background-color: #212121;
      color: #fafafa;
  }
   a {
       text-decoration: none;
       line-height: 24px;
   }
   a.active {
       text-decoration: none;
       color: #fafafa;
   }
   a.remote {
       text-decoration: underline;;
   }

  </style>
  <body>
    <h1><%= title %></h1>
    <p>Generated menu</p>

    <ul>
    <% adminMenu.nodes.map((menu)=>{%>
        <li><a href="<%= menu.uri %>" class="<%= menu.isActive ? 'active' : ''%>"><%= menu.name %></li>
        <ul>
            <% menu.nodes.map((item)=>{%>
                <%if(item.nodes){%>
                    <li><a href="<%= item.uri %>"
                        class="<%= item.isActive ? 'active' : ''%> <%= item.isRemote ? 'remote' : ''%>">
                            <%= item.name %>
                        </a>
                        <ul>
                        <% item.nodes.map((node)=>{%>
                            <li><a href="<%= node.uri %>"
                                class="<%= node.isActive ? 'active' : ''%> <%= node.isRemote ? 'remote' : ''%>">
                                    <%= node.name %>
                                </a>
                            </li>
                        <%});%>
                        </ul>
                    </li>
                <%} else {%>
                    <li><a href="<%= item.uri %>"
                        class="<%= item.isActive ? 'active' : ''%> <%= item.isRemote ? 'remote' : ''%>">
                            <%= item.name %>
                        </a>
                    </li>
                <%}%>
            <%});%>
        </ul>
    <%});%>
    </ul>
    <br/>
    <h3>Generated JSON</h3>

    <code>
        <pre><%- JSON.stringify(adminMenu, null, 4) %></pre>
    </code>
  </body>
</html>
